<h2>Посетитель</h2>
<br />
<p>Имя: <%= @client.name_user %></p>
<p>Телефон: <%= @client.phone %></p>
<p>Мастер: <%= @client.barber %></p>
<p>Цвет волос: <%= @client.color %></p>
<p>Дата регистрации: <%= @client.created_at %></p>
<p>Дата визита: <%= @client.datestamp_visit %></p>